.title {
    font-size: 216%;
    outline: 3px solid black;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-family: Verdana;
    font-size: 300%;
}

#navbar li:before{
    content: '[';
}

#navbar li:after{
    content: ']';
}

#navbar li:hover {
    background-color: mediumpurple;
}

#navbar a, #navbar li {
    color: brown;
    display: inline;
    list-style: none;
}

#navbar {
    outline: 3px solid black;
    margin: 20px;
    padding: 20px;
    white-space: nowrap;
    overflow: scroll;
    background-color: white;
}

body {
    background-image: url("water.jpeg");
    background-repeat: repeat;
    text-align: center;
}


.column {
    float: left;
    padding: 20px;
    max-height: 500px;
    overflow: scroll;
    white-space: normal;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column > .drone-picture {
    max-height: 500px;
    max-width: 500px;
    transform: rotate(0deg);
    transition: ease-out 0.3s;
}

.column > .drone-picture:hover{
    transform: rotate(-30deg);
    transition: ease-in 0.3s
}

footer{
    outline: solid black 3px;
    background-color: white;
    text-align: center;
    display: block;
}

.did-someone-say > h1, .did-someone-say > h2, .did-someone-say > h3, .did-someone-say > h4, .did-someone-say > h5{
    /* css wtf is your damage just let me select all header tags */
    display: inline-block;
    font-style: italic;
}

.regular-ole-image {
    max-height: 500px;
    max-width: 500px;
}

body > .fair-thee-well {
    align-text: center;
    margin: 0 auto;
}

